/* -----------------------------------------
   Theme Specific Media Queries
----------------------------------------- */

/* Small desktop to mobile ----- */
@media only screen and (max-width: 960px) and (min-width: 480px) {
	.slide-content h3 { font-size: 34px; }
}

/* Only mobile ----- */
@media only screen and (max-width: 480px) {

}

/* Main MQuery, iPad portrait and lower -- */
@media only screen and (max-width: 768px) {
	#page { margin-top: 48px; }
	#nav { display: none; }
	#mobile-bar { display: block; }

	#top-head { height: auto; text-align: center; padding: 15px 0 15px;}
	#header .widget_ci_socials_ignited { position: static; text-align: center; margin: 10px !important;  }
	#header .widget_ci_socials_ignited img { top: 0; }

	#logo { text-align: center; }
	#logo h1 { margin-bottom: 3px; }

	.widget { margin-bottom: 40px !important; }
	.home-wgt-area { padding-bottom: 0; }

	.slide-content { position: static; padding: 25px 15px; background: #E70048; }

	.slide-content h3 { font-size: 20px; }
	#paging { margin-bottom: 70px; }
	.entry-content, #comments { margin-bottom: 30px; }
	#sidebar .widget:last-child { margin-bottom: 0 !important; }

	.credits, .credits .six.columns:nth-child(2) { text-align: center; }

	.credits .six.columns:nth-child(2) { margin-top: 10px; }
}
