/* -----------------------------------------
   #Green
----------------------------------------- */

a, a:visited,
a:focus,
#top-head a:hover,
.credits a:hover,
a.s-next:hover,
a.s-prev:hover,
a.sld-btn:hover,
.btn.callout:hover  {
	color: #54e784;
}

#paging a:hover,
.item-thumb:hover > h3,
.searchsubmit,
a.btn,
a.btn:visited,
input[type=submit].btn,
button.btn,
.wpcf7-submit {
	background-color: #54e784;
}

.item-thumb h3 {
	background-color: #54e784;
	background: rgba(84, 231, 132, 0.70);
}

main#content,
.btn.callout,
.btn.callout:visited,
.btn.callout:hover,
#navigation li.sup > a,
#navigation li.sup > a:visited {
	border-color: #54e784;
}

a.btn,
a.btn:visited,
input[type=submit].btn,
button.btn,
.wpcf7-submit {
	border-color: #45be6d /* two shades deeper than the scheme color */
}

@media only screen and (max-width: 768px) {
	.slide-content { background: #54e784; }
}